@using System.Globalization;
@using Microsoft.AspNetCore.Localization;

@{
    var capabilitiesData = ViewBag.Capabilities as List<CapabilitiesViewModel>;
}


@{
    var culture = ViewContext.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var textDirection = culture.StartsWith("ar") ? "rtl" : "ltr";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../assets/images/favicon.ico" type="image/png">
    <meta name="keywords" content="@ViewBag.MetaKeywords">
    <meta name="description" content="@ViewBag.MetaDescription">
    <title>@ViewBag.Title</title>
    @{
        await Html.RenderPartialAsync("StylesPartial");
    }
</head>
<body class="@textDirection">

    <div>
        


        @{
            await Html.RenderPartialAsync("NavPartial");
        }


        @RenderBody()

     
        
        @{
            await Html.RenderPartialAsync("FooterPartial");
            await Html.RenderPartialAsync("ScriptsPartial");
           
        }
    </div>
</body>
</html>
