@using System.Globalization;
@using Microsoft.AspNetCore.Localization;


@{
    var culture = ViewContext.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var textDirection = culture.StartsWith("ar") ? "rtl" : "ltr";
}

<!-- footer area start -->
<div class="rts-footer-area footer-one rts-section-gapTop bg-footer-one">
    <div class="container bg-shape-f1 ">
        <div class="row pt--120 pt_sm--80 pb--80 pb_sm--40 ps-3">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12">
                <div class="footer-two-single-wized left">
                    <h3 class="title">
                        <a asp-controller="Home" asp-action="index">
                            <img src="../../assets/images/logo/logo.png">
                        </a>
                    </h3>
                    @if (ViewBag.Footer != null)
                    {

                        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                        {
                            <p class="disc">@ViewBag.Footer.Description_Ar</p>
                        }
                        else
                        {
                            <p class="disc">@ViewBag.Footer.Description</p>
                        }

                    }
                    else
                    {
                        <p class="disc">No Data Available</p>
                    }
                    <a class="rts-btn btn-primary-2 color-h-black" asp-controller="Quote" asp-action="index">@SharedResource["nav_get_Quote"]</a>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mt_sm--50">
                <div class="footer-two-single-wized two">
                    <div class="wized-title-area">
                        <h5 class="wized-title">@SharedResource["nav_capabilities"]</h5>
                        <img src="../../assets/images/footer/under-title-2.png" alt="xeed consultancy">
                    </div>
                    <div class="wized-2-body">
                        <ul>
                            @if (ViewBag.CapabilitiesItems is List<ExceedConsultancy.Models.CapabilitiesViewModel> capabilitiesList)
                            {
                                var itemsToShow = capabilitiesList.Take(6);

                                foreach (var capabilitieItem in itemsToShow)
                                {
                                    <li>
                                        <a asp-controller="Home" asp-action="Business" asp-route-id="@capabilitieItem.Id">
                                            @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                            {
                                                <span>@capabilitieItem.text_Ar</span>
                                            }
                                            else
                                            {
                                                <span>@capabilitieItem.text</span>
                                            }
                                        </a>
                                    </li>
                                }

                           
                            }
                            else
                            {
                                <p>No data available.</p>
                            }

                          @*  var filteredItems = new List
                            <ExceedConsultancy.Models.CapabilitiesViewModel>
                                ();
                                var count = 0;

                                foreach (var capabilitieItem in ViewBag.CapabilitiesItems)
                                {
                                if (capabilitieItem.text == "Operations" ||
                                capabilitieItem.text == "Manufacturing" ||
                                capabilitieItem.text == "Artificial Intelligence" ||
                                capabilitieItem.text == "People Strategy" ||
                                capabilitieItem.text == "Organization Strategy")
                                {
                                filteredItems.Add(capabilitieItem);
                                count++;

                                if (count >= 5)
                                {
                                break;
                                }
                                }
                                }

                                foreach (var capabilitieItem in filteredItems)
                                {
                                <li>
                                    <a asp-controller="Home" asp-action="Business" asp-route-id="@capabilitieItem.Id">
                                        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                            <span>@capabilitieItem.text_Ar</span>
                                        }
                                        else
                                        {
                                            <span>@capabilitieItem.text</span>
                                        }
                                    </a>
                                </li>
                                }*@

                            @*


                            <li><a asp-controller="Operations" asp-action="index">@SharedResource["nav_operations"]</a></li>
                            <li><a asp-controller="Manufacturing" asp-action="index">@SharedResource["nav_manufacturing"] </a></li>
                            <li><a asp-controller="ArtificialIntelligence" asp-action="index">@SharedResource["nav_AI"] </a></li>
                            <li><a asp-controller="PeopleStrategy" asp-action="index">@SharedResource["nav_people"]</a></li>
                            <li><a asp-controller="OrganizationStrategy" asp-action="index">@SharedResource["nav_organization_strategy"]</a></li>
                            <li><a asp-controller="PeopleStrategy" asp-action="index">@SharedResource["nav_people"]</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
            <!-- single wized -->
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 col-12 mt_sm--30 ">
                <div class="footer-two-single-wized">
                    <div class="wized-title-area">
                        <h5 class="wized-title">@SharedResource["nav_Contact"]</h5>
                        <img src="../../assets/images/footer/under-title-2.png" alt="xeed consultancy">
                    </div>
                    <div class="wized-2-body  ">
                        @if (ViewBag.AddressInfo != null)
                        {
                            <div class="contact-info-1">
                                <div class="icon  ps-3">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <div class="disc">
                                    <span>@SharedResource["email"]</span>
                                    <a href="mailto:contact@xeed-consulting.com">@ViewBag.AddressInfo.Email</a>
                                </div>
                            </div>
                            <div class="contact-info-1">
                                <div class="icon  ps-3">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="disc location">
                                    <span>@SharedResource["location"]</span>
                                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                    {
                                        <span> @ViewBag.AddressInfo.Location_Ar</span>
                                    }
                                    else
                                    {
                                        <span> @ViewBag.AddressInfo.Location</span>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright area start -->
    <div class="rts-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="text-start">
                        <p>HyveOnline - Copyright 2023. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-3 ">
                    <div class="">
                        <a asp-controller="Privacy" asp-action="index" target="_blank">@SharedResource["privacy_policy"]</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- copyright area end -->
</div>

<div class="loader-wrapper">
    <div class="loader">
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>

<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
    </svg>
</div>