@model ExceedConsultancy.Models.ContactModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


@using Microsoft.AspNetCore.Localization;

@{
    var culture = ViewContext.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var textDirection = culture.StartsWith("ar") ? "rtl" : "ltr";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";


    ViewBag.Title = @SharedResource["title_Careers"];
    ViewBag.MetaDescription = @SharedResource["MetaDescription_Careers"];
    ViewBag.MetaKeywords = @SharedResource["MetaKeywords_Careers"];

    ViewBag.Title = "Xeed Consulting | Careers";
    ViewBag.MetaDescription = "Submit Your CV - Submit your CV and contact information for available career opportunities.";
    ViewBag.MetaKeywords = "Submit Your CV, Career Opportunities, Your Name, Email Address, Your Subject, Type Your Message, Upload CV";



    //ViewBag.Title = "Xeed Consulting | الوظائف";
    //ViewBag.MetaDescription = "أرسل ملفك - قم بإرسال ملفك ومعلومات الاتصال لفرص الوظائف المتاحة.";
    //ViewBag.MetaKeywords = "أرسل ملفك, فرص الوظائف, الإسم, البريد الإلكتروني, الموضوع, الرسالة, تحميل السيرة الذاتية";
}


<body>



    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">  @SharedResource["nav_Careers"]</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a asp-controller="Home" asp-action="index"> @SharedResource["nav_home"]</a>
                        <span> / </span>
                        @SharedResource["nav_Careers"]
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bizup map area end -->
    <!-- conact us form fluid start -->
    <div class="rts-contact-form-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="rts-contact-fluid rts-section-gap">
                        <div class="rts-title-area contact-fluid text-center mb--50">
                            <p class="pre-title">
                                @SharedResource["nav_Careers"]
                            </p>
                            <h2 class="title">@SharedResource["Submit_CV"]</h2>
                        </div>
                        <div class="form-wrapper">
                            @*<form method="post" enctype="multipart/form-data">*@

                            <form method="post" asp-controller="@(culture.StartsWith("ar") ? "CareersAr" : "Careers")" asp-action="Index" enctype="multipart/form-data">
                                <div class="name-email">
                                    <input type="text" name="Name" placeholder="@SharedResource["Your_name"]" required="" aria-required="true">
                                    <input type="email" name="Email" placeholder="@SharedResource["Email_addrs"]">
                                </div>
                                <input type="text" name="Subject" placeholder="@SharedResource["Subject"]">
                                <textarea placeholder="@SharedResource["Type_msg"]" name="Message" required="" aria-required="true"></textarea>
                                <input type="file" id="cvFileInput" class="mt-4 pt-4" name="CVFile" class="form-control-file" required />
                                <label for="cvFileInput" class="cvFileLabel">Upload CV</label>

                                <script>
                                    const cvFileInput = document.getElementById('cvFileInput');
                                    const cvFileLabel = document.getElementById('cvFileLabel');

                                    cvFileInput.addEventListener('change', () => {
                                        if (cvFileInput.files.length > 0) {
                                            cvFileLabel.textContent = cvFileInput.files[0].name;
                                        } else {
                                            cvFileLabel.textContent = 'Choose CV';
                                        }
                                    });
                                </script>
                                <br /><br />
                                <div class="g-recaptcha" data-sitekey="6LfWIkknAAAAAOUo2d_GVScC3Z-2JKuVZW1d7ykv"></div>
                                <button type="submit" class="rts-btn btn-primary">@SharedResource["Apply"]</button>
                            </form>
                            @if (TempData["Success"] != null)
                            {
                                <p class="alert alert-warning d-block blue-bg  mt-4">@TempData["Success"]</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- conact us form fluid end -->
    <!-- start header area -->
    <!-- rts footer area start -->


</body>