@model ExceedConsultancy.Models.QuoteModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers                                                                                                  @using Microsoft.AspNetCore.Localization;


@using Microsoft.AspNetCore.Localization;

@{
    var culture = ViewContext.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var textDirection = culture.StartsWith("ar") ? "rtl" : "ltr";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = @SharedResource["title_Quote"];
    ViewBag.MetaDescription = @SharedResource["MetaDescription_Quote"];
    ViewBag.MetaKeywords = @SharedResource["MetaKeywords_Quote"];
}

@*<body>
*@


<div id="anywhere-home">
</div>
<!-- ENd Header Area -->
<!-- start breadcrumb area -->
<div class="rts-breadcrumb-area breadcrumb-bg bg_image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                <h1 class="title">@SharedResource["Make_Appointment"]</h1>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="bread-tag">
                    <a asp-controller="Home" asp-action="index"> @SharedResource["nav_home"]</a>
                    <span> / </span>
                    @SharedResource["Make_Appointment"]
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb area -->
<!-- contact area start -->
<div class="rts-contact-area contact-one">
    <div class="container">
        <div class="row align-items-center g-0">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                <div class="contact-image-one">
                    <img src="assets/images/contact/01.jpg" alt="quote">
                </div>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                <div class="contact-form-area-one">
                    <div class="rts-title-area contact ">
                        <p class="pre-title">
                            @SharedResource["Make_Appointment"]
                        </p>
                        <h2 class="title"> @SharedResource["Request_Call_back"]</h2>
                    </div>
                    <div id="form-messages"></div>
                    <form method="post" asp-controller="@(culture.StartsWith("ar") ? "QuoteAr" : "Quote")" asp-action="Index">
                        <div class="name-email">
                            <input type="text" placeholder=" @SharedResource["Your_name"]" name="Name" required>
                            <input type="Email" placeholder="@SharedResource["Email_addrs"]" name="email" required>
                        </div>
                        <div class="name-email">
                            <input type="text" placeholder=" @SharedResource["Subject"]" name="Subject">
                            <input type="text" placeholder=" @SharedResource["Phone"]" name="Phone" required>
                        </div>
                        <textarea placeholder="@SharedResource["Type_msg"]" name="Message"></textarea> <br /><br />
                        <div class="g-recaptcha" data-sitekey="6LfWIkknAAAAAOUo2d_GVScC3Z-2JKuVZW1d7ykv"></div>

                        <button type="submit" class="rts-btn btn-primary"> @SharedResource["submit"] </button>
                    </form>  @if (TempData["SuccessQuote"] != null)
                    {
                        <p class="alert alert-warning d-block blue-bg mt-4 ">@TempData["SuccessQuote"]</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@*</body>*@
