@model ExceedConsultancy.Models.BusinessModel
@using Microsoft.AspNetCore.Localization;

@{
    var culture = ViewContext.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var textDirection = culture.StartsWith("ar") ? "rtl" : "ltr";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
                                              

    ViewBag.Title = "Xeed Consulting | @SharedResource nav_Finance";
    ViewBag.MetaDescription = "Our financial experts specialize in crafting comprehensive @SharedResourcenav_Finance solutions. We optimize financial performance, capital allocation, and risk management to help you achieve your long-term financial goals.";
    ViewBag.MetaKeywords = "Xeed Consulting, Corporate Finance, Strategy Solutions, Financial Performance, Capital Allocation, Risk Management, Long-Term Financial Goals";



    //ViewBag.Title = "Xeed Consulting | تمويل الشركات واستراتيجيتها";
    //ViewBag.MetaDescription = "لدينا فريق من الخبراء الماليين متخصص في صياغة حلول تمويل واستراتيجية شاملة للشركات. نحن نساعد الشركات في تحسين أدائها المالي وتخصيص رأس المال وإدارة المخاطر. سواء كنت تتطلع إلى توسيع أو تبسيط العمليات أو التغلب على التحديات المالية المعقدة ، فإننا نقدم إرشادات استراتيجية لمساعدتك في تحقيق أهدافك المالية طويلة الأجل.";
    //ViewBag.MetaKeywords = "Xeed Consulting, تمويل الشركات, استراتيجية الشركات, الأداء مالي, تخصيص رأس المال, إدارة المخاطر, أهداف مالية طويلة الأجل";

}


<body>


    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">@SharedResource["nav_Finance"]</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a asp-controller="Home" asp-action="index"  asp-route-culture="@culture"> @SharedResource["nav_home"]</a>
                        <span> / </span>
                        @SharedResource["nav_Finance"]
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- start service details area -->
    <div class="rts-service-details-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-12 col-sm-12 col-12">
                    <!-- service details left area start -->
                    <div class="service-detials-step-1">
                        <div class="thumbnail">
                            <img src="assets/images/Strategy-.jpg" alt=" @SharedResource["nav_Finance"]">
                        </div>
                        <h4 class="title">@SharedResource["nav_Finance"]</h4>
                        <p class="disc">
                            @SharedResource["nav_Finance_text"]      </p>

                    </div>
                    <!-- service details left area end -->

                </div>
                <!--rts blog wizered area -->
                <div class="col-xl-4 col-md-12 col-sm-12 col-12 mt_lg--60 pl--50 pl_md--0 pl-lg-controler pl_sm--0">
                    <!-- single wizered start -->
                    <div class="rts-single-wized Categories service">
                        <div class="wized-header">
                            <h5 class="title">
                                @SharedResource["Categories"]    
                            </h5>
                        </div>
                        <div class="wized-body">
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="Business" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_Business"] <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="Finance" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_Finance"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="Technology" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_Technology"]<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="ArtificialIntelligence" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_AI"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="MonitoringEvaluation" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_monitoring_Evaluation"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Manufacturing" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_manufacturing"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Marketing" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_marketing"]<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Operations" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_operations"] <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Implementation" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_implementation"] <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="OrganizationStrategy" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_organization_strategy"]<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="PeopleStrategy" asp-action="index"  asp-route-culture= "@culture">@SharedResource["nav_people"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Pricing" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_pricing"]   <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Budgeting" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_zero_based"]<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="RiskManagement" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_risk_management"] <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Innovation" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_innovation"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</body>