@model ExceedConsultancy.Models.BusinessModel
@using Microsoft.AspNetCore.Localization;

@{
    var culture = ViewContext.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var textDirection = culture.StartsWith("ar") ? "rtl" : "ltr";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
                                              

    ViewBag.Title = "Xeed Consulting |  Growth, Marketing and Sales";
    ViewBag.MetaDescription ="Unlock your business's growth potential with our strategic marketing and sales solutions. We work closely with clients to identify market opportunities, develop marketing strategies, and optimize sales processes. Our proven methods drive revenue growth and help businesses thrive in competitive markets.";
    ViewBag.MetaKeywords = "Xeed Consulting, Growth, Marketing, Sales, strategic marketing, sales solutions, market opportunities, marketing strategies, sales processes, revenue growth, competitive markets";


    
    //ViewBag.Title = "Xeed Consulting | النمو والتسويق والمبيعات";
    //ViewBag.MetaDescription = "أطلق العنان لإمكانات نمو عملك من خلال حلول التسويق والمبيعات الاستراتيجية الخاصة بنا. نحن نعمل عن كثب مع العملاء لتحديد فرص السوق ، وتطوير استراتيجيات التسويق ، وتحسين عمليات المبيعات. أساليبنا التي أثبتت جدواها تدفع نمو الإيرادات وتساعد الشركات على الازدهار في الأسواق التنافسية.";
    //ViewBag.MetaKeywords = "Xeed Consulting, النمو والتسويق والمبيعات, حلول التسويق والمبيعات الاستراتيجية, فرص السوق, استراتيجيات التسويق, عمليات المبيعات, نمو الإيرادات, الأسواق التنافسية";





}


<body>


    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">@SharedResource["nav_marketing"]</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a asp-controller="Home" asp-action="index"  asp-route-culture="@culture"> @SharedResource["nav_home"]</a>
                        <span> / </span>
                        Growth, Marketing and Sales
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- start service details area -->
    <div class="rts-service-details-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-12 col-sm-12 col-12">
                    <!-- service details left area start -->
                    <div class="service-detials-step-1">
                        <div class="thumbnail">
                            <img src="assets/images/Marketing.jpg" alt="   Growth, Marketing and Sales">
                        </div>
                        <h4 class="title">@SharedResource["nav_marketing"]</h4>
                        <p class="disc">
                            @SharedResource["nav_marketing_text"]  </p>

                    </div>
                    <!-- service details left area end -->

                </div>
                <!--rts blog wizered area -->
                <div class="col-xl-4 col-md-12 col-sm-12 col-12 mt_lg--60 pl--50 pl_md--0 pl-lg-controler pl_sm--0">
                    <!-- single wizered start -->
                    <div class="rts-single-wized Categories service">
                        <div class="wized-header">
                            <h5 class="title">
                                @SharedResource["Categories"]
                            </h5>
                        </div>
                        <div class="wized-body">
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="Business" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_Business"] <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="Finance" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_Finance"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="Technology" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_Technology"]<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="ArtificialIntelligence" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_AI"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="MonitoringEvaluation" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_monitoring_Evaluation"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Manufacturing" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_manufacturing"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Marketing" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_marketing"]<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Operations" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_operations"] <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Implementation" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_implementation"] <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="OrganizationStrategy" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_organization_strategy"]<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="PeopleStrategy" asp-action="index"  asp-route-culture= "@culture">@SharedResource["nav_people"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Pricing" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_pricing"]   <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Budgeting" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_zero_based"]<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="RiskManagement" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_risk_management"] <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Innovation" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_innovation"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</body>