@model ExceedConsultancy.Models.AboutModel
@using Microsoft.AspNetCore.Html;
@using System.Globalization;
@using Microsoft.AspNetCore.Localization;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="rts-accordion-area service rts-section-gap inner">
    <div class="accordion-service-bg bg_image inner">
        <div class="container">
            <div class="row">
                <div class="col-12 pt-sm-4">
                    <div class="accordion-service-inner">
                        <div class="title-area-start">
                            @*<span class="sub color-primary"> Xeed Consulting</span>*@
                            <h2 class="title">
                                @SharedResource["page_about_us_Our_Commitment"]
                            </h2>
                                @foreach (var item in Model.Commitment)
                                {
                                <p>
                                            @item.Description
                                </p>
                                <div class="p- text-md h4">
                                    <a href="@Url.Action("EditCommitment", "CPanel", new { id = item.Id })" class="btn btn-primary h4  border-0">Edit</a>
                                </div>
                                }
                        </div>
                        <div class="accordion-area">
                            <div class="HeaderCreate text-center mt-1 mb-2">

                                <a href="@Url.Action("CreateAccordionThree", "CPanel")" class="btn btn-success CreateSlider">Create Accordion</a>
                            </div>

                            @if (Model.AccordionThree != null && Model.AccordionThree.Any())
                            {
                                <div class="accordion" id="accordionExample">
                                    @foreach (var AccordionThree in Model.AccordionThree.OrderBy(item => item.Order))
                                {
                                    <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading@(AccordionThree.Order)">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(AccordionThree.Order)" aria-expanded="true" aria-controls="collapse@(AccordionThree.Order)">
                                                        @AccordionThree.TitleAccordion
                                            </button>
                                        </h2>
                                            <div id="collapse@(AccordionThree.Order)" class="accordion-collapse collapse show" aria-labelledby="heading@(AccordionThree.Order)" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                  
                                                        @AccordionThree.Description
                                            </div>
                                        </div>
                                            <div class="card-footer   float-end">
                                                <a href="@Url.Action("EditAccordionThree", "CPanel", new { id = AccordionThree.Id })" class="btn btn-primary btn-edit h5" style="color:#ffffff">
                                                    <i class="fas fa-edit"></i>
                                                </a>
                                                <a href="#" class="btn btn-danger  btn-delete h5" style="color:#d9534f" data-toggle="modal" data-target="#deleteConfirmationSliderModal-@(AccordionThree.Id)" data-sliderid="@AccordionThree.Id" data-delete-type="OurCommitment">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>
                                            </div>

                                    </div>
                                  
                                        <div class="modal fade" id="deleteConfirmationSliderModal-@(AccordionThree.Id)" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmationSliderModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
                                                        <form>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </form>

                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete this Accordion?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <form method="post" id="delete-form">
                                                            @* <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>*@
                                                            <button type="submit" class="deleteBtn btn-delete" data-item-id="@AccordionThree.Id" data-delete-type="OurCommitment">Delete</button>
                                                        </form>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                }
                                </div>
                        
                            }
                            else
                            {
                                <p>No Data Available</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

