@model ExceedConsultancy.Models.AboutModel
@using Microsoft.AspNetCore.Html;



@using System.Globalization;
@using Microsoft.AspNetCore.Localization;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var culture = ViewContext.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var textDirection = culture.StartsWith("ar") ? "rtl" : "ltr";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";


    ViewBag.Title = @SharedResource["title_about_Us"];
    ViewBag.MetaDescription = @SharedResource["MetaDescription_about_Us"];
    ViewBag.MetaKeywords = @SharedResource["MetaKeywords_about_Us"];

}


<body>
    <!-- End header area -->
    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>

    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">@SharedResource["nav_about_us"]</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a asp-controller="Home" asp-action="index"> @SharedResource["nav_home"]</a>
                        <span> / </span>
                        @SharedResource["nav_about_us"]
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- rts about us section start -->
    <div class="rts-about-area rts-section-gap">
        <div class="container">
            <div class="row g-5 align-items-center">


                @if (Model.AboutUs != null)
                {
                    @foreach (var AboutItem in Model.AboutUs)
                    {
                        <div class="col-lg-5">
                            <div class="about-image-v-inner">
                                <div class="image-area">
                                    <img class="mt--110 img-1" src="../../assets/images/@AboutItem.Image1" alt="about">
                                    <img class="img-over" src="../../assets/images/@AboutItem.Image2" alt="about">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-7">
                            <div class="about-progress-inner">
                                <div class="title-area">
                                    <h2 class="title">
                                        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                            @AboutItem.Title_Ar
                                        }
                                        else
                                        {
                                            @AboutItem.Title
                                        }
                                    </h2>
                                </div>

                                <div class="inner">
                                    <p class="disc">
                                        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                            @(new HtmlString(AboutItem.Description_Ar))
                                        }
                                        else
                                        {

                                            @(new HtmlString(AboutItem.Description))
                                        }
                                    </p>
                                </div>
                                <div class="inner-about-three ">
                                    <!-- <h4>Join Us on Your Journey to Success</h4> -->
                                    <p class="disc mt-3">
                                        <!-- <div class="title-area">
                                            <span>Join Us</span>
                                            <h2 class="title">Join Us on Your Journey to Success</h2>
                                        </div> -->
                                        <span style="font-size:20px; color: #104e7e;">  @SharedResource["Mission"]</span><br />
                                        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                            @AboutItem.Mission_Ar
                                        }
                                        else
                                        {
                                            @AboutItem.Mission
                                        }
                                    </p>

                                    <p class="disc">
                                        <span style="font-size:20px; color: #104e7e;">  @SharedResource["Vision"] </span><br />
                                        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                            @AboutItem.Vision_Ar
                                        }
                                        else
                                        {
                                            @AboutItem.Vision
                                        }
                                    </p>
                                </div>
                                <!-- end -->
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No data available.</p>
                }
            </div>
        </div>
    </div>
    <!-- rts about us section end -->
    @*<div class="rts-faq-area rts-section-gap inner inner2 bg_image">*@
<div class="rts-faq-section rts-section-gap rts-faq-bg bg_image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="faq-two-inner">
                    <div class="title-area-faq">
                        @foreach (var WhyUsItem in Model.WhyUs)
                        {
                            <span class="sub"> @SharedResource["Why_Choose_Us"]</span>
                            <h2 class="title">
                                      @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                           @(new HtmlString(WhyUsItem.Title_Ar))
                                        }
                                        else
                                        {
                                               @(new HtmlString(WhyUsItem.Title))
                                        } 


                              @*  <span class="sm-title">
                                </span>*@
                            </h2>
                            <p>
                                     @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                        @WhyUsItem.Description_Ar
                                        }
                                        else
                                        {
                                        @WhyUsItem.Description
                                        } 
                            </p>
                        }
                    </div>



                    <div class="accordion-area inner inner2 pt-4 mt-3">
                        <div class="accordion-one-inner inner">
                           <div class="accordion" id="accordionExample4">
                                    @foreach (var AccordionWhyUsItem in Model.WhyUsAccordion.OrderBy(item => item.Order))
                                    {
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading@(AccordionWhyUsItem.AccordionId)">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(AccordionWhyUsItem.AccordionId)" aria-expanded="false" aria-controls="collapse@(AccordionWhyUsItem.AccordionId)">
                                                    <span>0@(AccordionWhyUsItem.AccordionId). </span>

                                                           @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                     @AccordionWhyUsItem.TitleAccordion_Ar
                                        }
                                        else
                                        {
                                       @AccordionWhyUsItem.TitleAccordion
                                        } 

                                                </button>
                                            </h2>
                                            <div id="collapse@(AccordionWhyUsItem.AccordionId)" class="accordion-collapse collapse" aria-labelledby="heading@(AccordionWhyUsItem.AccordionId)" data-bs-parent="#accordionExample4" style="">
                                                <div class="accordion-body">
                                                                       @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                     @AccordionWhyUsItem.SubTitleAccordion_Ar

                                        }
                                        else
                                        {
                                       @AccordionWhyUsItem.SubTitleAccordion
                                        } 
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="thumbnail-faq-four">
                    @foreach (var WhyUsItem in Model.WhyUs)
                    {

                        <img src="../assets/images/@WhyUsItem.Image" alt="business">
                    }
                </div>
            </div>
        </div>
    </div>
</div>












    <!-- rts-team details area Start-->
    <div class="rts-team-details rts-section-gap">
        <div class="container">
            <div class="row g-5">
                @if (Model.Leadership != null)
                {
                    @foreach (var item in Model.Leadership)
                    {
                        <div class="col-xl-6 col-lg-12 col-md-12">
                            <div class="details-thumb">
                                <img src="../assets/images/@item.Image" alt="Leadership">
                            </div>
                        </div>


                        <div class="col-xl-6 col-lg-12 col-md-12 pl--35 pl_sm--15">
                            <div class="details-right-inner">
                                <div class="title-area">

                                    <h3 class="title"> @SharedResource["page_about_us_Leadership"]</h3>
                                </div>
                                <p class="disc">

                                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                    {
                                        @(new HtmlString(item.Description_Ar))
                                    }
                                    else
                                    {
                                        @(new HtmlString(item.Description))
                                    }


                                </p>
                                <a asp-controller="Quote" asp-action="index" class="rts-btn btn-primary"> @SharedResource["page_about_us_Leadership_getIn_touch"]</a>
                            </div>
                        </div>
                    }
                }
                else
                {

                    <p>no data Available</p>
                }
            </div>
        </div>
    </div>


    <div class="rts-accordion-area service rts-section-gap inner">
        <div class="accordion-service-bg bg_image inner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 ">
                        <div class="accordion-service-inner inner">
                            <div class="title-area-start">
                                <h2 class="title">@SharedResource["page_about_us_how_we_work"]</h2>

                                <p>

                                    @foreach (var item in Model.HowWork)
                                    {
                                        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                            @item.Description_Ar
                                        }
                                        else
                                        {
                                            @item.Description
                                        }

                                    }
                                </p>
                            </div>
                            <div class="accordion-area">
                                <div class="accordion" id="accordionExample3">
                                    @foreach (var item in Model.AccordionTwo.OrderBy(item => item.Order))
                                    {

                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading@(item.Order)">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(item.Order)" aria-expanded="false" aria-controls="collapse@(item.Order)">
                                                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                    {
                                                        @item.TitleAccordion_Ar
                                                    }
                                                    else
                                                    {
                                                        @item.TitleAccordion
                                                    }
                                                </button>
                                            </h2>
                                            <div id="collapse@(item.Order)" class="accordion-collapse collapse " aria-labelledby="heading@(item.Order)" data-bs-parent="#accordionExample3">
                                                <div class="accordion-body">
                                                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                    {
                                                        @item.Description_Ar
                                                    }
                                                    else
                                                    {
                                                        @item.Description
                                                    }
                                                </div>
                                            </div>
                                        </div>


                                    }


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-6 pt-sm-4">

                        <div class="accordion-service-inner">
                            <div class="title-area-start">
                                @*<span class="sub color-primary"> Xeed Consulting</span>*@
                                <h2 class="title">
                                    @SharedResource["page_about_us_Our_Commitment"]
                                </h2>
                                <p>
                                    @foreach (var item in Model.Commitment)
                                    {
                                        @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                            @item.Description_Ar
                                        }
                                        else
                                        {
                                            @item.Description
                                        }

                                    }
                                </p>
                            </div>
                            <div class="accordion-area">
                                <div class="accordion" id="accordionExample">

                                    @foreach (var item in Model.AccordionThree.OrderBy(item => item.Order))
                                    {

                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading@(item.Order)">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(item.Order)" aria-expanded="false" aria-controls="collapse@(item.Order)">
                                                   @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                            @item.TitleAccordion_Ar
                                        }
                                        else
                                        {
                                            @item.TitleAccordion
                                        }

                                                </button>
                                            </h2>
                                            <div id="collapse@(item.Order)" class="accordion-collapse collapse " aria-labelledby="heading@(item.Order)" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                         @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                        {
                                            @item.Description_Ar
                                        }
                                        else
                                        {
                                            @item.Description
                                        }

                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="mb-0 pt-4"> @SharedResource["page_about_us_Our_Commitment_Lasttext"]  </p>
                    <div class="details-right-inner">
                        <a asp-controller="Quote" asp-action="index" class="rts-btn btn-primary"> @SharedResource["page_about_us_Leadership_getIn_touch"] </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="rts-about-area rts-section-gap bg-about-sm-shape Purpose" id="about-us">
        <div class="container">
            <div class="row g-5 align-items-center">
                <!-- about left -->
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2 mt_md--50 mt_sm--50">
                    <div class="rts-title-area">
                        <p class="pre-title">
                            Xeed Consulting
                        </p>
                        <h2 class="title">
                            @SharedResource["page_about_us_Our_Aspiration"]
                        </h2>
                    </div>
                    <div class="about-inner">
                        @foreach (var item in Model.Aspiration)
                        {
                            @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                            {


                                @(new HtmlString(item.Text_Ar))
                            }
                            else
                            {
                                @(new HtmlString(item.Text))
                            }

                        }

                        @*    <p class="disc">
                        </p>
                        <p class="disc">
                        <span style="font-size:20px; color: #104e7e;">@SharedResource["page_about_us_Our_Aspiration_Empowering_Success"] </span>
                        <br>
                        @SharedResource["page_about_us_Our_Aspiration_Empowering_Success_text1"]    <span style="font-size:20px; color: #104e7e;">
                        @SharedResource["page_about_us_Our_Aspiration_Empowering_Success_text2"]
                        </span>
                        @SharedResource["page_about_us_Our_Aspiration_Empowering_Success_text3"]
                        </p>*@

                        <div class="accordion-area inner inner2">
                            <div class="accordion-one-inner inner">
                                <div class="accordion" id="accordionExample4">
                                    @foreach (var item in Model.AccordionFour.OrderBy(item => item.Order))
                                    {
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading@(item.Order)">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(item.Order)" aria-expanded="false" aria-controls="collapse@(item.Order)">
                                                    <span>@(item.Order).</span>

                                                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                    {
                                                        @item.TitleAccordion_Ar
                                                    }
                                                    else
                                                    {
                                                        @item.TitleAccordion
                                                    }
                                                </button>
                                            </h2>
                                            <div id="collapse@(item.Order)" class="accordion-collapse collapse" aria-labelledby="heading@(item.Order)" data-bs-parent="#accordionExample4" style="">
                                                <div class="accordion-body">
                                                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                    {
                                                        @item.Description_Ar
                                                    }
                                                    else
                                                    {
                                                        @item.Description
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <p class="disc">
                            @foreach (var item in Model.Aspiration)
                            {
                                @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                {
                                    @item.Text1_Ar
                                }
                                else
                                {
                                    @item.Text1
                                }
                            }
                        </p>
                    </div>
                </div>
                <!-- about right -->
                <!-- about-right Start-->
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-2 order-md-1 order-sm-1 order-1">
                    <div class="about-one-thumbnail">
                        <img src=" assets/images/aspiration.jpg" alt="aspiration">
                    </div>
                </div>
                <!-- about-right end -->
            </div>
        </div>
    </div>





    <div class="rts-service-area rts-section-gapBottom" id="services">
        <div class="container-fluid service-main plr--120-service mt--50 plr_md--0 pl_sm--0 pr_sm--0">
            <div class="row">
                <div class="cta-one-bg col-12">
                    <div class="cta-one-inner">
                        <div class="cta-left">
                            <h3 class="title animated fadeIn">
                                @SharedResource["page_about_us_Xeed_discuss"]
                            </h3>
                        </div>
                        <div class="cta-right">
                            <a class="rts-btn btn-white" asp-controller="Quote" asp-action="index"> @SharedResource["page_about_us_Xeed_Work_together"]</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="rts-business-goal mt--0 rts-section-gapBottom">
        <div class="container">
            @foreach (var item in Model.Team)
            {
                <div class="row">
                    <!-- business goal left -->
                    <div class="col-lg-6">
                        <div class="business-goal-one">
                            <img src="../assets/images/@item.Image1" alt="Teams">
                            <img class="small" src="../assets/images/@item.Image2" alt="Teams">
                        </div>
                    </div>
                    <!-- business goal right -->
                    <!-- right area business -->
                    <div class="col-lg-6 mt--35 mt_md--70 mt_sm--70">
                        <div class="business-goal-right">
                            <div class="rts-title-area business  pl--30">
                                <p class="pre-title">
                                    Xeed Consulting
                                </p>
                                <h2 class="title">
                                    @SharedResource["page_about_us_Xeed_Consulting_Our_team"]
                                </h2>
                            </div>
                            <div class="rts-business-goal ">
                                <div class="single-goal">

                                    <div class="goal-wrapper">
                                        @*<h6 class="title">Best Business Consulting</h6>*@
                                        <p class="disc">

                                            @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                            {
                                                @item.Description_Ar
                                            }
                                            else
                                            {
                                                @item.Description
                                            }
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- right area business ENd -->
                </div>
            }
        </div>
    </div>

    <!-- end team section -->
    <!-- rts features area start -->
    <div class="rts-feature-area rts-section-gap Purpose">
        <div class="container-fluid padding-controler plr--120">
            <div class="row bg-white-feature  pt--120 pb--120">
                @foreach (var item in Model.Purpose)
                {
                    <div class="col-xl-6 col-lg-12">
                        <div class="feature-left-area">
                            <img src="../assets/images/@item.Image" alt="purpose">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12">
                        @*      <div class="rts-title-area feature  pl--30 pl_sm--0">

                    <h2 class="title feature-title">@SharedResource["page_about_us_Purpose"]</h2>
                    <p>@SharedResource["page_about_us_Purpose_text"]</p>
                    <p class="disc">
                    <span style="font-size:20px; color: #104e7e;">@SharedResource["page_about_us_Purpose_Value"]</span>
                    <br />
                    @SharedResource["page_about_us_Purpose_Value_text"]
                    </p>
                    </div>*@
                        <div class="rts-title-area feature  pl--30 pl_sm--0">
                            @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                            {
                                @(new HtmlString(item.Text_Ar))
                            }
                            else
                            {
                                @(new HtmlString(item.Text))
                            }
                        </div>
                    </div>
                }




                <div class="col-xl-12 col-lg-12">
                    <div class="rts-faq-area rts-section-gap inner">
                        <div class="accordion-area inner inner2">
                            <div class="accordion-one-inner inner inner2">
                                <div class="accordion" id="accordionExample5">
                                    @foreach (var item in Model.AccordionFive.OrderBy(item => item.Order))
                                    {
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="heading@(item.Order)">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(item.Order)" aria-expanded="false" aria-controls="collapse@(item.Order)">
                                                    <span>@(item.Order).</span>           @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                    {
                                                        @item.TitleAccordion_Ar
                                                    }
                                                    else
                                                    {
                                                        @item.TitleAccordion
                                                    }
                                                </button>
                                            </h2>
                                            <div id="collapse@(item.Order)" class="accordion-collapse collapse " aria-labelledby="heading@(item.Order)" data-bs-parent="#accordionExample5">
                                                <div class="accordion-body">
                                                    @if (CultureInfo.CurrentCulture.Name.StartsWith("ar"))
                                                    {
                                                        @item.Description_Ar
                                                    }
                                                    else
                                                    {
                                                        @item.Description
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>