@model ExceedConsultancy.Models.BusinessModel
@using Microsoft.AspNetCore.Localization;

@{
    var culture = ViewContext.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var textDirection = culture.StartsWith("ar") ? "rtl" : "ltr";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
                                              

    ViewBag.Title = "Xeed Consulting | Zero-Based Budgeting";
    ViewBag.MetaDescription = "Zero-Based Budgeting - Achieve cost efficiency and financial transparency through zero-based budgeting. We guide businesses in implementing this innovative budgeting approach, helping them reallocate resources to areas that generate the most value and eliminate unnecessary costs.";
    ViewBag.MetaKeywords = "Zero - Based Budgeting, cost efficiency, financial transparency, innovative budgeting, reallocate resources, generate value, eliminate costs";


    
    //ViewBag.Title = "Xeed Consulting | تنظيم الميزانية والمصاريف";
    //ViewBag.MetaDescription = "تنظيم الميزانية والمصاريف - تحقيق كفاءة التكلفة والشفافية المالية من خلال الميزنة الصفرية. نحن نوجه الشركات في تنفيذ نهج الميزانية المبتكر هذا ، ونساعدها على إعادة تخصيص الموارد للمناطق التي تولد أكبر قيمة وتزيل التكاليف غير الضرورية.";
    //ViewBag.MetaKeywords = "تنظيم الميزانية والمصاريف, كفاءة التكلفة, شفافية مالية, الميزانة الصفرية, تخصيص الموارد, توليد القيمة, التكاليف غير الضرورية";

}


<body>


    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">@SharedResource["nav_zero_based"]</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a asp-controller="Home" asp-action="index"  asp-route-culture="@culture"> @SharedResource["nav_home"]</a>
                        <span> / </span>
                        @SharedResource["nav_zero_based"]
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->
    <!-- start service details area -->
    <div class="rts-service-details-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-12 col-sm-12 col-12">
                    <!-- service details left area start -->
                    <div class="service-detials-step-1">
                        <div class="thumbnail">
                            <img src="assets/images/Zero-Based.jpg" alt="Zero-Based Budgeting">
                        </div>
                        <h4 class="title">@SharedResource["nav_zero_based"]</h4>
                        <p class="disc">
                            @SharedResource["nav_zero_based_text"]
                        </p>

                    </div>
                    <!-- service details left area end -->

                </div>
                <!--rts blog wizered area -->
                <div class="col-xl-4 col-md-12 col-sm-12 col-12 mt_lg--60 pl--50 pl_md--0 pl-lg-controler pl_sm--0">
                    <!-- single wizered start -->
                    <div class="rts-single-wized Categories service">
                        <div class="wized-header">
                            <h5 class="title">
                                @SharedResource["Categories"]
                            </h5>
                        </div>
                        <div class="wized-body">
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="Business" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_Business"] <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="Finance" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_Finance"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <!-- single categoris End -->
                            <!-- single categoris -->
                            <ul class="single-categories">
                                <li><a asp-controller="Technology" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_Technology"]<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="ArtificialIntelligence" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_AI"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="MonitoringEvaluation" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_monitoring_Evaluation"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Manufacturing" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_manufacturing"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Marketing" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_marketing"]<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Operations" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_operations"] <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Implementation" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_implementation"] <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="OrganizationStrategy" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_organization_strategy"]<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="PeopleStrategy" asp-action="index"  asp-route-culture= "@culture">@SharedResource["nav_people"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Pricing" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_pricing"]   <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Budgeting" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_zero_based"]<i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="RiskManagement" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_risk_management"] <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>
                            <ul class="single-categories">
                                <li><a asp-controller="Innovation" asp-action="index"  asp-route-culture="@culture">@SharedResource["nav_innovation"]  <i class="far fa-long-arrow-right"></i></a></li>
                            </ul>

                            @*   <br />*@
                            @*<img src="assets/images/service/services.jpg" />*@
                            <!-- single categoris End -->
                        </div>
                    </div>

                </div>
            </div>

            @*<div class="row mt--35">


            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
            <div class="thumbnail sm-thumb-service">
            <img src="assets/images/service/sm-01.jpg" alt="Service">
            </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
            <h6 class="title">Strategy development </h6>
            <p class="disc">
            Crafting a winning strategy is the cornerstone of business success. Our Strategy Development service involves in-depth analysis and collaboration with your leadership team to define clear objectives, identify growth opportunities, and devise a roadmap for sustainable success. With a keen eye on market trends and competition, we develop strategic frameworks that align with your vision, driving your business forward with confidence.

            </p>


            </div>
            </div>
            <div class="row mt--35">
            <div class="col-xl-6 col-lg-6  col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
            <h6 class="title">Business Planning </h6>

            <p class="disc">
            Our Business Planning service equips you with comprehensive and actionable business plans that outline the path to achieving your goals. From identifying key performance indicators (KPIs) to allocating resources effectively, we provide detailed roadmaps to guide your organization's growth and steer you through uncertainties, ensuring you stay on track to reach your milestones.

            </p>


            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
            <div class="thumbnail sm-thumb-service">
            <img src="assets/images/service/sm-02.jpg" alt="Service">
            </div>
            </div>
            </div>*@




            @*<div class="row mt--35">


            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
            <div class="thumbnail sm-thumb-service">
            <img src="assets/images/service/sm-03.jpg" alt="Service">
            </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
            <h6 class="title">Acquisitions </h6>
            <p class="disc">
            Navigating the complexities of mergers and acquisitions demands expert guidance. Our Acquisitions service offers in-depth due diligence, target analysis, and strategic advisory to support your decision-making process. Whether you are considering a merger, acquisition, or partnership, we help you evaluate opportunities, negotiate favorable terms, and achieve synergistic outcomes.

            </p>


            </div>
            </div>
            <div class="row mt--35">
            <div class="col-xl-6 col-lg-6  col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
            <h6 class="title">Process optimization</h6>
            <p class="disc">
            Unlock hidden potential and efficiency within your operations through our Process Optimization service. Our consultants conduct thorough process audits, identifying bottlenecks and inefficiencies. With a focus on streamlining workflows and implementing best practices, we help your organization achieve higher productivity, reduced costs, and improved customer satisfaction.

            </p>


            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-flex flex-column justify-content-center ">
            <div class="thumbnail sm-thumb-service">
            <img src="assets/images/service/sm-04.jpg" alt="Service">
            </div>
            </div>
            </div>





            <div class="row mt--35">


            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-flex flex-column justify-content-center">
            <div class="thumbnail sm-thumb-service">
            <img src="assets/images/service/sm-05.jpg" alt="Service">
            </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
            <h6 class="title">Financial analysis  </h6>
            <p class="disc">
            Navigating the complexities of mergers and acquisitions demands expert guidance. Our Acquisitions service offers in-depth due diligence, target analysis, and strategic advisory to support your decision-making process. Whether you are considering a merger, acquisition, or partnership, we help you evaluate opportunities, negotiate favorable terms, and achieve synergistic outcomes.

            </p>


            </div>
            </div>
            <div class="row mt--35">
            <div class="col-xl-6 col-lg-6  col-md-6 col-sm-12 col-12 mb_md--20 mb_sm--20 d-flex flex-column justify-content-center">
            <h6 class="title">Market analysis </h6>
            <p class="disc">
            Understanding market dynamics is vital to stay competitive. With our Market Analysis service, we gather and interpret market data, customer behavior, and industry trends. Armed with this knowledge, you can make informed strategic decisions, identify emerging opportunities, and adapt proactively to dynamic market conditions.
            </p>


            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 ">
            <div class="thumbnail sm-thumb-service">
            <img src="assets/images/service/sm-06.jpg" alt="Service">
            </div>
            </div>
            </div>*@
        </div>
    </div>

</body>