@model ExceedConsultancy.Models.IndustriesModel
@using Microsoft.AspNetCore.Localization;

@{
    var culture = ViewContext.HttpContext.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var textDirection = culture.StartsWith("ar") ? "rtl" : "ltr";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
                                              
    ViewBag.Title = "Xeed Consulting | Industries ";
    ViewBag.MetaDescription = "Our business consultancy services are tailored to address your unique challenges and opportunities. Embrace the power of technology with our comprehensive technology consultancy.";
    ViewBag.MetaKeywords = "Business Consultancy, Technology Consultancy, Project Management, Strategy development, Business Planning, Acquisitions, Process optimization, Financial analysis, Xeed Consulting";


                                                  
    //ViewBag.Title = "Xeed Consulting  | خدمات صناعية";
    //ViewBag.MetaDescription = "تتم تصميم خدمات الاستشارات الخاصة بنا لمعالجة التحديات والفرص الفريدة التي تواجهها. اعتمد على قوة التكنولوجيا مع استشارتنا الشاملة للتكنولوجيا.";
    //ViewBag.MetaKeywords = "استشارات الأعمال، استشارات التكنولوجيا، إدارة المشاريع، تطوير الاستراتيجيات، تخطيط الأعمال، الاستحواذات، تحسين العمليات، تحليل مالي";
}


<body>
    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>

    <div id="anywhere-home">
    </div>
    <!-- ENd Header Area -->
    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">Industries</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a asp-controller="Home" asp-action="index"  asp-route-culture="@culture"> @SharedResource["nav_home"]</a>
                        <span> / </span>
                        Industries
                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="rts-project-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-12">
                 
                    <div class="tab-content-area mt--50 mt_sm--30">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel">
                                <!-- tab product area -->
                                <div class="row g-5">
                                  
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <!-- single -product area -->
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/business-case/04.jpg" alt="Health Care Industry">
                                               
                                            </div>
                                            <div class="product-contact-wrapper">
                                                @*<span>Business Solution</span>*@

                                                <h5 class="title">    @SharedResource["Health_Care"]  </h5>
                                             
                                                @*<p class="disc">
                                                    At Xeed Consulting, we believe that every business should have a clear and compelling purpose.
                                                </p>*@
                                            </div>
                                        </div>
                                        <!-- single -product area End -->
                                    </div>
                              
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                      
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/business-case/05.jpg" alt="Industrial Goods">

                                            </div>
                                            <div class="product-contact-wrapper">
                                                <h5 class="title">  @SharedResource["Industrial_Goods"]     </h5>
                                            </div>
                                        </div>
                                      
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                      
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/business-case/Insurance.jpg" alt="Business_case">
                                            </div>
                                            <div class="product-contact-wrapper">
                                                <h5 class="title">@SharedResource["Insurance_Industry"]</h5>
                                            </div>
                                        </div>
                                      
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                      
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/business-case/Real-Estate.jpg" alt="Real Estate">
                                            </div>
                                            <div class="product-contact-wrapper">
                                                <h5 class="title"> @SharedResource["Real_Estate"]   </h5>
                                            </div>
                                        </div>
                                      
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                      
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/business-case/Media.jpg" alt="Media">

                                            </div>
                                            <div class="product-contact-wrapper">
                                                <h5 class="title">@SharedResource["Technology_Media"] </h5>
                                            </div>
                                        </div>
                                      
                                    </div>

                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                      
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/business-case/Travel.jpg" alt="Travel">
                                            </div>
                                            <div class="product-contact-wrapper">
                                                <h5 class="title">@SharedResource["Travel_tourism"]  </h5>
                                            </div>
                                        </div>
                                      
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/business-case/07.jpg" alt="  Engineering, Construction">
                                            </div>
                                            <div class="product-contact-wrapper">
                                                <h5 class="title">@SharedResource["Engineering_Construction"]   </h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                                      
                                        <div class="rts-product-one">
                                            <div class="thumbnail-area">
                                                <img src="assets/images/business-case/09.jpg" alt=" Financial Services">

                                            </div>
                                            <div class="product-contact-wrapper">
                                                <h5 class="title"> @SharedResource["Financial_Services"]   </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tab product area end-->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <!-- our service area end -->
    <!-- service accordion area -->
  
</body>

